[user]
	email = eashwar@umich.edu
	name = Eashwar Mohan
[credential]
	helper = cache
[core]
	editor = vim
	autocrlf = input
	safecrlf = false
[push]
	default = matching
[alias]
	dog = log --all --decorate --oneline --graph
	ssh = remote set-url origin
	forcepull = git reset --hard HEAD && git pull
