[user]
	email = eashwar@umich.edu
	name = Eashwar Mohan
[core]
	editor = vim
	autocrlf = input
	safecrlf = false
[push]
	default = matching
[alias]
	dog = log --all --decorate --oneline --graph
	ssh = remote set-url origin
	forcepull = "!f() { git reset --hard HEAD; git pull; }; f"
[credential]
	helper = store
